/* GENERAL */
body{
	padding-top: 60px;
}

.jumbotron{
	margin-top: 60px;
}

/* HEADER */

.navbar .navbar-right .checkbox {
	color: #337ab7;
}

#forgotten-pswd {
	padding-top: 2px;
}
	
/* FONT-SIZE */
.font-size-15 {
	font-size: 15px !important;
}